In [1]:
import pandas as pd

In [3]:
DataFrame=pd.read_excel("Kitap1.xlsx")

In [4]:
DataFrame

  Unnamed: 0  Maas   Yas  Departman
0     Dilber   100  40.0    Yazılım
1     Songül   200  50.0      Satış
2     Aleyna   150  20.0        NaN
3      Hasan    50  41.0  Pazarlama
4      Ahmet   100  42.0      Hukuk
5       Ayşe   200   NaN        NaN
6   Süleyman    41   0.0     Finans
7    Süreyya    23   NaN        NaN

In [6]:
doluDegerDF=DataFrame.dropna()

In [7]:
doluDegerDF

  Unnamed: 0  Maas   Yas  Departman
0     Dilber   100  40.0    Yazılım
1     Songül   200  50.0      Satış
3      Hasan    50  41.0  Pazarlama
4      Ahmet   100  42.0      Hukuk
6   Süleyman    41   0.0     Finans

In [8]:
doluDegerDF.to_excel("yenimaas.xlsx")